* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

.container {
    height: 100%;
    padding: 15px;

    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: 1fr 9fr;
    gap: 15px;
}

.sidebar {
    background-color: #f1f5f9;
    grid-row: 1 / 3;
}

.sidebar-content-container {
    height: 72%;
    padding: 15px;

    display: grid;
    grid-template-rows: 1fr 6fr 3fr;
    gap: 15px;
}

.sidebar-mid-btns {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 3px;
}

.sidebar-btm-btns {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 3px;
}

.header {
    background-color: #e2e8f0;
    grid-column-start: 2;

    padding: 12px 12px 12px 36px;

    display: grid;
    grid-template-columns: 2.4fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 9px;
}

form {
    height: 30px;
    display: flex;
    align-items: center;
}

form input {
    all: unset;
    height: 100%;
    width: 60%;
    padding-left: 15px;
    border-radius: 9px;
    font: 15px system-ui;
    color:#0f172a;
    background-color: #f1f5f9;
}

::placeholder {
    color: #0f172a;
    opacity: 0.72;
}

form button {
    all: unset;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

#search-icon {
    color: #0f172a;
    width: 24px;
    height: 24px;
}

.account-signed-in {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.notification-icon {
    height: 24px;
    width: 24px;
}

.main-profile-icon {
    height: 30px;
    width: 30px;

    filter: invert(37%) sepia(90%) saturate(3787%) hue-rotate(17deg) brightness(96%) contrast(101%);
}

.full-name {
    font-weight: bold;
    font-size: 18px;
}

.greeting {
    display: grid;
    grid-template-columns: 1fr 12fr;
    gap: 3px;
    align-items: center;
}

.greeting .main-profile-icon {
    grid-row: 1 / 3;
    height: 45px;
    width: 45px;
}

.greeting-first-line {
    font-size: 15px;
}

.greeting-second-line {
    font-size: 24px;
}

.main-content-area {
    grid-column-start: 2;

    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 21fr;
    gap: 15px;
}

.projects-header {
    grid-column: 1 / 2;
}

.announcements-header {
    grid-column: 2 / 3;
}

.project-card-area {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
}

.project-card {
    background-color: #cbd5e1;
    padding: 15px;

    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    gap: 3px;
}

.project-card-btns {
    align-self: end;
    justify-self: end;
}

.right-side-bar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 9fr 1fr 9fr;
    gap: 15px;
}

.right-side-card {
    background-color: #cbd5e1;    
}

.announcement-container {
    padding: 15px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 9px;
}

.announcement {
    border-bottom: 1px solid black;
}

#btm-announcement {
    border-bottom: 0px;
}

.trending-header {
    padding-top: 9px;

    display: flex;
    align-items: flex-end;
}

.trending-container {
    padding: 15px;

    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 9px;
}

.user {
    display: flex;
    gap: 15px;
}